
/* board */
#board {
	position:relative;
	width:100%;
}
#board .inner{
}
#board .headline_box{
}
#board .headline{
	position: relative;
}
#board .headline:after {
    content: '';
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 107%;
    height: 6px;
    background: #fff;
    z-index: -1;
}

#board em{
	background: var(--brandColor3);
}
#board table {
	border-collapse:collapse;
	width:100%;
}
#board table tr {
	height: 55px;
	font-size: 17px;
}
#board table tr.list {
	border-bottom:1px solid #dddddd;
	color:#000000;
	font-weight: 600;
	font-size: 18px;
	height: 60px;
}

#board table td a {
	width:100%;
	line-height: 55px;

	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
#board table td.seq,#board table td.hits {
	text-align:center;
	font-weight:500;
}
#board .empty_notice {
	text-align:center;
	margin:60px 0;
	color:#666;
}

/* pagination */
#pagination {
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:25px;
}
#pagination button {
	display:block;
	border:0;
	background:none;
	cursor:pointer;
	line-height:0;
}
#pagination_inner {
	display:flex;
	gap:8px;
	margin:0 15px;
}
#pagination_inner li a {
	display:block;
	padding:6px;
	font-size:16px;
	background:#fff;
	border:1px solid #ddd;
	width:33px;
	height:33px;
	text-align:center;
	line-height:18px;
}
#pagination_inner li a.page_on {
	font-weight:500;
	background:var(--brandColor);
	color:#fff;
}

/* search */
#search {
    display: flex;
    align-items: center;
	background:#e6e9ec;
	padding:25px 0;
	border-radius:10px;
	margin-bottom:30px;
}
#search form {
    flex: 1;
	display:flex;
	align-items:center;
	justify-content:start;
    gap: 20px;
	height:48px;
}
#search .search_title {
    font-size: 18px;
    font-weight: 600;
    padding: 0 9%;
    color: #444;
}
#search form select,#search form input,#search form button {
	height:100%;
	border:none;
}
#search form select {
	font-size:17px;
    padding: 0px 60px 0 25px;
	outline:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background:#fff url("../images/tell-arrow.png") no-repeat 85% 50%;
    background-size: 7px 6px;
}
#search form input[type="text"] {
	font-size:17px;
	padding:4px 22px;
	outline:none;
	width:48%;
}
#search form button {
    width: 50px;
	background:#000 url(../images/search.png) no-repeat center/20px 20px;
    border-radius: 5px;
	color: #fff;
}
#search form button svg {
	width: 100%;
}



/* board_view.php */
.view_main {
	width:100%;
	height:auto;
	box-sizing: border-box;
	margin-top: 75px;
}
.article_title {
	height: 100%;
	display:flex;
	justify-content:space-between;
	align-items:end;
	font-size:32px;
	font-weight:600;
	line-height:1.3;
}
.article_title span {
	white-space:nowrap;
	font-size:15px;
}

#article {
	margin: 40px 0 60px;
}
#article .article_content {
	border-bottom:1px solid #ddd;
}
#article .article_btn_wrap {
	display:flex;
	justify-content:flex-end;
	padding:20px 0;
}
/* #article .article_btn_wrap .modify_btn,#article .article_btn_wrap .back_btn{width:fit-content;display:block;font-size:16px;}#article .article_btn_wrap .modify_btn{padding-right: 10px;}*/
#article .article_btn_wrap .back_btn {
	position:relative;
	display:flex;
	align-items:center;
	gap:3px;
	background:var(--brandColor);
	padding:6px 8px;
	border-radius:5px;
	color:#fff;
}
#article .article_btn_wrap .back_btn img {
	margin-bottom:1px;
}
/* #article .article_btn_wrap .back_btn::before{content:'';position:absolute;top:50%;left:0px;transform:translateY(-50%);width:0.5px;height:13px;background: #ccc;}*/
.ql-align-center {
	text-align:center;
}
.ql-align-right {
	text-align: right;
}


.article_wrap strong {
    font-weight: 600;
}
.article_wrap h1 {
    display: block;
    font-size: 30px;
    unicode-bidi: isolate;
    line-height: 1.6;
    padding: 55px 0 20px;
}
.article_wrap h2 {
    display: block;
    font-size: 26px;
    font-weight: 600;
    unicode-bidi: isolate;
    padding-bottom: 15px;
    line-height: 1.6;
}
.article_wrap h3 {
    display: block;
    font-size: 22px;
    font-weight: 500;
    unicode-bidi: isolate;
    padding-bottom: 10px;
    line-height: 1.4;
}
.article_wrap h4 {
    display: block;
    margin: 10px 0 30px 0;
    font-weight: 700;
    unicode-bidi: isolate;
}
.article_wrap p {
    display: block;
    font-size: 18px;
    line-height: 1.8;
    unicode-bidi: isolate;
}
.article_wrap em {
    font-style: italic;
}
.article_wrap a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


@media (max-width: 1023px) {
}

@media (max-width: 959px) {
    .inner {
        width: calc(100% - 60px);
    }
	#board table th, #board table td:not(td.title) {
        font-size: 15px;
    }
    #board table th, #board table td {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    #article .article_content{
        padding: 5px;
    }
    .article_title{
        font-size: 30px;
    }
    .article_wrap p {
        font-size: 17px;
    }

	#search form {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        height: 42px;
    }
    #search .search_title {
        font-size: 17px;
        padding: 0 6%;
    }
    #search form select {
        font-size: 17px;
        padding: 0px 30px 0 15px;
    }
    #search form button {
        width: 42px;
    }
}

@media (max-width: 586px) {
    .inner {
        width: calc(100% - 30px);
    }
    #board table th, #board table td {
        font-size: 17px;
    }
    #board table td.seq, #board table td.hits{
        font-size: 14px;
    }
    .article_title{
        font-size: 28px;
		flex-direction: column;
		align-items: start;
		gap: 10px;
    }
	.article_title span {
		font-size: 14px;
	}
    .article_wrap h1 {
        font-size: 26px;
    }
}

@media (max-width: 430px) {
    #pagination {
        margin-top: 14px;
    }
    #pagination_inner li a {
        font-size: 16px;
    }
}