/*==============  768 ~ 959  ================*/
@media(max-width:959px) {
    
    .sc-visual{
        .visual-wrap{
        }
        .headline-box{
            font-size: 110px;
            text-align: center;
        }
        .text-box{
            display: none;
        }
    }


}