:root {
	--white: #ffffff;
	--black: #000000;
	--black-1: #525252;
	--gray-0: #f5f5f5;
	--gray-1: #dfe1e5;
	--gray-2: #c4c6ca;
	--gray-3: #dbdcdd;

	--a: #fff;
	--b: #ffb8b8;
	--c: #b085db;
	--d: #56d29e;
	--e: #000000;
	--f: #e75437;
	--g: #48a7cc;
	--h: #f2e940;

	--arrows: #6e6e6e;
}