body {
  max-width: 1200px;
}

#save_article {
  margin-top: 15px;
  font-size: 18px;
}

#editor_title {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  line-height: 1.2;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-size: 15px;
  outline: none;
}

.ql-editor {
  height: calc(100vh - 150px) !important;
  min-height: 300px;
}